body{
  background:linear-gradient(palevioletred, rgb(176, 90, 225));
  text-align:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:30px;
}
h1{
  font-size: 70px;
  text-shadow: 6px 5px rgb(252, 173, 173)
}

h2{
  font-size: 75px;
}

ul{
  list-style:none;
}

.flashy{
  color: red;
  font-style: italic;
}

.img{
  text-align: center;
  width:%;
  height:auto;
}

.best{
  font-size: 100px;
  color:lime;
}

.boring{
  font-family:monospace;
  font-style:none;
  font-size:20px;
}

.sweet{
  color:pink;
  font-style:italic;
  text-shadow: 10px 5px rgb(255, 0, 162);
}